
.container{
 width: 500px;
 margin: 100px auto;
 display: flex;
}
ul{
    list-style: none;
}
.box{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100px;
    transition: all 0.3s;
    color: white;
}
.box-red{
    background-color: brown;
}
.box-red:hover{
    background-color: green;
}
.box-green{
    background-color: green;
}
.box-green:hover{
    background-color: rgb(102, 72, 192);
}
.box-black{
    background-color: rgb(102, 72, 192);
}
.box-black:hover{
    background-color: brown;
}